/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}

.main {
  height: 100vh;
  background: #fafafa;
}

.section {
  height: 500px;
}

.btn {
  text-decoration: none;
  padding: 1rem;
  margin: 0 auto;
  display: inline-block;
  font-size: .8rem;
  border-radius: 10rem;
  text-align: center;
  transition: .3s ease-in-out;
  background: #333;
  color: #fff;
}

.btn:hover {
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.txt-bold {
  font-weight: bold;
}

.txt-gray {
  color: #999999;
}

.txt-xx {
  font-size: 10px;
}

.scroll-animate {
  transform: .3s;
}

.scroll-none {
  overflow: hidden;
}

.is-none {
  display: none;
}

.is-block {
  display: block;
}

.global-nav {
  text-transform: uppercase;
  background: #fff;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background: #fff;
  padding: 1.4rem 1.2rem;
}

.global-nav--s {
  padding: 0.7rem 1.2rem;
}

.global-nav__wrap {
  display: flex;
  width: 980px;
  margin: 0 auto;
}

.global-nav__logo {
  width: 326.66667px;
  cursor: pointer;
}

.global-nav__logo svg {
  padding-right: .5rem;
}

.global-nav__logo img {
  height: 30px;
  border-left: 1px solid #262626;
  padding-left: .9rem;
}

.global-nav__search {
  width: 326.66667px;
}

.global-nav__search-wrap {
  width: 215px;
  box-sizing: border-box;
  background: #fafafa;
  border: 1px solid #DBDBDB;
  padding: 3px 6px;
  border-radius: 3px;
  height: 28px;
  overflow: hidden;
  margin-left: 45px;
}

.global-nav__search-wrap form {
  position: relative;
}

.global-nav__search input {
  vertical-align: baseline;
}

.global-nav__search input[type="text"] {
  border: none;
  background: #fafafa;
  font-size: 14px;
  text-align: center;
  padding-left: .8rem;
}

.global-nav__search input[type="text"]:focus {
  outline: 0;
  text-align: left;
  padding-left: 1.2rem;
}

.global-nav__search input[type="text"]:focus + .global-nav__search-icon {
  left: 0;
}

.global-nav__search input[type="text"]:focus + .global-nav__search-icon + .global-nav__search-reset {
  display: block;
}

.global-nav__search input[type="submit"] {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline: none;
}

.global-nav__search-icon {
  width: 15px;
  height: 15px;
  line-height: 1.45;
  position: absolute;
  top: 0;
  left: 70px;
}

.global-nav__search-icon svg {
  width: 15px;
  height: 15px;
  line-height: 1.4;
}

.global-nav__search-reset {
  position: absolute;
  top: 1px;
  right: 0;
  border: none;
  background-color: #FAFAFA;
  padding: 0;
  outline: none;
}

.global-nav__search-reset img {
  width: 18px;
  height: 18px;
}

.global-nav__nav {
  width: 326.66667px;
  text-align: right;
}

.global-nav__nav-icon {
  padding-right: 25px;
  cursor: pointer;
  display: inline-block;
}

.global-nav__nav-icon img, .global-nav__nav-icon svg {
  width: 28px;
  height: 28px;
}

.nav-like {
  display: none;
}

.nav-like__mask {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 40;
  width: 100%;
  height: auto;
  min-height: 100%;
}

.nav-like__body {
  width: 980px;
  position: relative;
  margin: auto;
}

.nav-like__wrap {
  list-style: none;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 50;
  width: 500px;
  height: 395px;
  background: #fff;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.0975);
  overflow-y: auto;
}

.nav-like__wrap--s {
  top: 45px;
}

.nav-like__list {
  display: flex;
  align-items: center;
  margin: 16px 16px 0 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #efefef;
}

.nav-like__list-img img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-like__list-text {
  padding: 0 12px;
  width: 370px;
  font-size: 14px;
  line-height: 1.3;
  text-align: left;
  font-size: 14px;
}

.nav-like__list-btn img {
  width: 40px;
  height: 40px;
}

.loader {
  background: #fff;
  z-index: 100;
}

.loader svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.photo {
  width: 965px;
  margin: 0 auto;
  padding-top: 10rem;
  display: flex;
  flex-wrap: wrap;
}

.photo__box {
  padding: 14px;
}

.photo__box img {
  width: 293px;
}

.photo__img {
  display: block;
  position: relative;
  overflow: hidden;
}

.photo__mask {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(33, 33, 33, 0.15);
  cursor: pointer;
}

.photo__mask svg {
  width: 25px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.modal {
  display: none;
}

.modal__mask {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal__close {
  text-align: right;
}

.modal__close svg {
  padding: .5rem .7rem;
  cursor: pointer;
}

.modal__wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 5rem auto 0;
  z-index: 11;
  width: 935px;
  height: 600px;
  display: flex;
  align-content: center;
}

.modal__contents {
  box-shadow: 0 2px 12px rgba(2, 19, 41, 0.1);
  width: 935px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__arrow {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.modal__arrow svg {
  width: 40px;
  height: 40px;
}

.modal__img {
  position: relative;
  overflow: hidden;
}

.modal__img-dot-wrap {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: 100;
}

.modal__img-dot {
  display: flex;
  justify-content: center;
  list-style: none;
}

.modal__img-dot li {
  margin-right: 5px;
}

.modal__img-dot li:last-child {
  margin-right: 0;
}

.modal__img-dot .dot {
  min-width: 7px;
  min-height: 7px;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.8);
}

.modal__img-dot .js-dot-color {
  background-color: #fff;
}

.modal__img-pager {
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
}

.modal__img-pager .prev {
  position: absolute;
  top: 50%;
  left: 10px;
  display: none;
  font-size: 1.3rem;
}

.modal__img-pager .next {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 1.3rem;
}

.modal__img-wrap {
  display: flex;
  width: 600px;
  overflow-x: auto;
  white-space: nowrap;
}

.modal__img-wrap .js-slide-image {
  display: inline-block;
}

.modal__img-wrap::-webkit-scrollbar {
  display: none;
}

.modal__img img {
  width: 600px;
  height: 600px;
}

.modal__text {
  width: 335px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.modal__text-bottom {
  margin-top: auto;
  background: #fff;
}

.modal__profile {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #efefef;
  height: 34px;
}

.modal__profile-img {
  padding-right: 16px;
}

.modal__profile-img img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.modal__profile-text {
  font-size: 14px;
  font-weight: bold;
  flex: 1;
  cursor: pointer;
}

.modal__profile-menu {
  cursor: pointer;
}

.modal__profile-menu img {
  width: 24px;
  height: 24px;
}

.modal__post {
  padding: 16px;
  min-height: 300px;
  max-height: 300px;
  overflow-y: auto;
}

.modal__post-content {
  display: flex;
}

.modal__post-img {
  padding-right: 16px;
}

.modal__post-img img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.modal__post-text {
  font-size: 14px;
  flex: 1;
  padding-top: .3rem;
  line-height: 1.4;
  color: #262626;
  margin-bottom: 1rem;
}

.modal__post-name {
  padding-right: .3rem;
  font-weight: bold;
  cursor: pointer;
}

.modal__post-tag {
  color: #003569;
  cursor: pointer;
  padding-left: .2rem;
}

.modal__details li {
  list-style: none;
}

.modal__details-icons {
  display: flex;
  border-top: 1px solid #efefef;
  padding: 0 10px;
}

.modal__details-icons img {
  width: 24px;
  padding: 16px 6px;
}

.modal__details-icons li:last-child {
  margin-left: auto;
}

.modal__icon {
  cursor: pointer;
}

.modal__users {
  display: flex;
  margin: 0 16px 0 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #efefef;
}

.modal__users-img img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.modal__users-text {
  padding: 0 8px;
  width: 370px;
  font-size: 14px;
  line-height: 1.3;
  text-align: left;
  font-size: 14px;
}

.modal__comment {
  padding-left: 16px;
  padding-right: 16px;
  border-top: 1px solid #efefef;
}

.modal__comment input, .modal__comment textarea {
  border: none;
}

.modal__comment textarea[type="text"] {
  font-size: 14px;
  width: 230px;
  resize: none;
}

.modal__comment textarea[type="text"]:focus, .modal__comment input[type="submit"]:focus {
  border: none;
  outline: none;
}

.modal__comment-textarea {
  min-height: 20px;
  max-height: 80px;
}

.modal__comment-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.modal__comment-submit {
  padding: 16px 0;
  margin-left: auto;
}

.modal__comment-submit input {
  color: #3897f0;
  opacity: .3;
  font-size: 14px;
  font-weight: bold;
  pointer-events: none;
}

.modal__comment-submit input.active {
  opacity: 1;
  pointer-events: all;
}

.modal__comment-submit input.active:hover {
  cursor: pointer;
}

.modal-share {
  display: none;
}

.modal-share__mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-share__wrap {
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 21;
  width: 400px;
  height: 347px;
}

.modal-share__heading {
  height: 43px;
  border-bottom: 1px solid #DBDBDB;
  position: relative;
}

.modal-share__title {
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}

.modal-share__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .6rem;
}

.modal-share__close img {
  width: 25px;
  height: 25px;
}

.modal-share__content {
  padding-top: 8px;
}

.modal-share__list {
  font-weight: bold;
  padding: 9px 16px;
  list-style: none;
}

.modal-share__list a {
  color: #262625;
  font-size: 14px;
  text-decoration: none;
  display: flex;
}

.modal-share__list--noicon {
  padding: 14px 16px 14px 3.65rem;
}

.modal-share__list:hover {
  background-color: #f0f0f0;
}

.modal-share__icon img {
  width: 25px;
  height: 25px;
  padding-top: .3rem;
}

.modal-share__text {
  padding: 8px 16px;
}

.modal-share__copy-link {
  display: none;
  background-color: #262625;
  color: #fff;
  padding: 1rem;
  font-size: .8rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.flickity-enabled {
  position: static;
}

.flickity-viewport {
  height: 600px !important;
  position: static;
}

.carousel-cell {
  width: 100%;
  height: 600px;
  position: relative;
}

.flickity-button {
  width: 25px;
  height: 25px;
}

.flickity-page-dots {
  bottom: 15px;
}

.flickity-page-dots .dot {
  background: #fff;
  margin: 0 4px 0 0;
  width: 6px;
  height: 6px;
}
