.header {
	text-transform: uppercase;
	background: #fff;
	border-bottom: 1px solid #dbdbdb;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	background: #fff;
	padding: 1.4rem 1.2rem;
	&--s {
		padding: 0.7rem 1.2rem;
	}
	&__wrap {
		display: flex;
		width: 980px;
		margin: 0 auto;
	}
	&__logo {
		width: (980px/3);
		svg {
			padding-right: .5rem;
		}
		&--insta {
			height: 30px;
			border-left: 1px solid #262626;
			padding-left: .9rem;
		}
	}
	&__search {
		width: (980px/3);
		&--wrap {
			width: 215px;
			box-sizing: border-box;
			background: #fafafa;
			border: 1px solid #DBDBDB;
			padding: 3px 6px;
			border-radius: 3px;
			height: 28px;
			overflow: hidden;
			margin-left: 45px;
			form {
				position: relative;
			}
		}
		input {
			vertical-align: baseline;
		}
		input[type="text"]{
			border: none;
			background: #fafafa;
			font-size: 14px;
			// color: #D5D5D5;
			text-align: center;
			padding-left: .8rem;
		}
		input[type="text"]:focus {
			outline: 0;
			text-align: left;
			padding-left: 1.2rem;
			&+.search--icon {
				left: 0;
				&+.search--reset {
					display: block;
				}
			}
		}
		input[type="submit"] {
			cursor: pointer;
			font-family: FontAwesome;
			font-size: 1.3em;
			border: none;
			background: none;
			color: #3879D9;
			position: absolute;
			width: 2.5em;
			height: 2.5em;
			right: 0;
			top: -10px;
			outline: none;
		}
		.search--icon {
			width: 15px;
			height: 15px;
			line-height: 1.45;
			position: absolute;
			top: 0;
			left: 70px;
			svg {
				width: 15px;
				height: 15px;
				line-height: 1.4;
			}
		}
		.search--reset {
			position: absolute;
			top: 1px;
			right: 0;
			border: none;
			background-color: #FAFAFA;
			padding: 0;
			outline: none;
			img {	
				width: 18px;
				height: 18px;
			}
		}
	}
	&__nav {
		width: (980px/3);
		text-align: right;
		&--icon {
			padding-right: 25px;
			cursor: pointer;
			display: inline-block;
			img, svg {
				width: 28px;
				height: 28px;
			}
		}
	}
}

.nav-like {
	display: none;
	&__mask {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 40;
		width: 100%;
		height: auto;
		min-height: 100%;
	}
	&__wrap {
		list-style: none;
		position: absolute;
		top: 60px;
		right: 230px;
		z-index: 50;
		width: 500px;
		height: 395px;
		background: #fff;
		border: 1px solid #E6E6E6;
		border-radius: 3px;
		box-shadow: 0 0 5px rgba(0,0,0,.0975);
		overflow-y: auto;
		&--s {
			top: 45px;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		margin: 16px 16px 0 16px;
		padding-bottom: 16px;
		border-bottom: 1px solid #efefef;
		&--img {
			img {
				width: 34px;
				height: 34px;
				border-radius: 50%;
				object-fit: cover;
			}
		}
		&--text {
			padding: 0 12px;
			width: 370px;
			font-size: 14px;
			line-height: 1.3;
			text-align: left;
			font-size: 14px;
		}
		&--btn {
			img {
				width: 40px;
				height: 40px;
			}
		}
	}
}