.modal {
	display: none;
	&__mask {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
	}
	&__close {
		text-align: right;
		svg {
			padding: .5rem .7rem;
			cursor: pointer;
		}
	}
	&__wrap {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: 5rem auto 0;
		z-index: 11;
		width: 935px;
		height: 600px;
		display: flex;
		align-content: center;
	}
	&__contents {
		box-shadow: 0 2px 12px rgba(2, 19, 41, 0.1);
		width: 935px;
		background: #fff;
		display: flex;
	}
	&__img {
		position: relative;
		&--dot-wrap {
			position: absolute;
			bottom: 10px;
			left: 0;
			right: 0;
			z-index: 100;
		}
		&--dot {
			display: flex;
			justify-content: center;
			list-style: none;
			li {
				margin-right: 5px;
			}
			li:last-child {
				margin-right: 0;
			}
			.dot {
				min-width: 7px;
				min-height: 7px;
				border-radius: 5px;
				background-color: rgba(170, 170, 170, 0.8);
			}
			.js-dot-color {
				background-color: #fff;
			}
		}
		&--pager {
			color: #fff;
			opacity: 0.8;
			cursor: pointer;
			.prev {
				position: absolute;
				top: 50%;
				left: 10px;
				display: none;
				font-size: 1.3rem;
			}
			.next {
				position: absolute;
				top: 50%;
				right: 10px;
				font-size: 1.3rem;
			}
		}
		&--wrap {
			display: flex;
			width: 600px;
			overflow: hidden;
			.js-slide {
				display: none;
			}
			.js-active {
				display: block;
			}
		}
		img {
			width: 600px;
			height: 600px;
		}
	}
	&__text {
		width: 335px;
		display: flex;
		flex-direction: column;
		&--bottom {
			margin-top: auto;
			background: #fff;
		}
	}
	&__profile {
		display: flex;
		align-items: center;
		padding: 16px;
		border-bottom: 1px solid #efefef;
		&--img {
			padding-right: 16px;
			img {
				width: 32px;
				height: 32px;
				border-radius: 50%;
				object-fit: cover;
			}
		}
		&--text {
			font-size: 14px;
			font-weight: bold;
			flex: 1;
		}
		&--menu {
			img {
				width: 24px;
				height: 24px;
			}
		}
	}
	&__post {
		padding: 16px;
		max-height: 385px;
		overflow-y: auto;
		&--content {
			display: flex;
		}
		&--img {
			padding-right: 16px;
			img {
				width: 32px;
				height: 32px;
				border-radius: 50%;
				object-fit: cover;
			}
		}
		&--text {
			font-size: 14px;
			flex: 1;
			padding-top: .3rem;
			line-height: 1.4;
			color: #262626;
		}
	}
	&__details {
		li {
			list-style: none;
		}
		&--icons {
			display: flex;
			border-top: 1px solid #efefef;
			padding: 0 10px;
			img {
				width: 24px;
				padding: 16px 6px;
			}
			li:last-child {
				margin-left: auto;
			}
		}
	}
	&__icon {
		cursor: pointer;
	}
	&__comment {
		padding-left: 16px;
		padding-right: 16px;
		border-top: 1px solid #efefef;
		input, textarea {
			border: none;
		}
		textarea[type="text"] {
			font-size: 14px;
			width: 230px;
			resize: none;
		}
		textarea[type="text"]:focus, input[type="submit"]:focus {
			border: none;
			outline: none;
		}
		&--textarea {
			min-height: 20px;
			max-height: 80px;
		}
		&--form {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		&--submit {
			padding: 16px 0;
			margin-left: auto;
			input {
				color: #3897f0;
				opacity: .3;
				font-size: 14px;
				font-weight: bold;
				pointer-events: none;
				&.active {
					opacity: 1;	
					pointer-events: all;
					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}
	.text__post {
		margin-bottom: 1rem;
	}
	.text__name {
		padding-right: .3rem;
		font-weight: bold;
	}
	.text__tag {
		color: #003569;
	}
}